/секция первого экрана
= render 'shared/wallpaper'

/секция почему мы
= render 'shared/why'

/секция слайдера
= render 'shared/slider'

/секция услуг
= render 'shared/service'

/секция о компании
= render 'shared/about'

/секция о лицензий
= render 'shared/lic'

/секция о отзывов
= render 'shared/review'

/секция записи на прием
= render 'shared/appointments'

